<h1>{{ proposal }}</h1>
      <ul>
        <li><a href="{% url 'bids:create_section' proposal.id %}">Create</a></li>
      </ul>
<br>
<table>
  <tr>
    <th>Section</th>
    <th>Details</th>
    <th>Cost</th>
    <th>Action</th>
  </tr>
  {% for section in proposal.section_set.all %}
  <tr>
    <td><a href="{% url 'bids:section' section.id %}">{{ section.title }}</a></td>
    <td>{{ section.details }}</td>
    <td>{{ section.cost }}</td>
    <td><a href="{% url 'bids:update_section' section.id %}">Update</a></td>
  </tr>
  {% endfor %}
</table>
